/* Universal */

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

h1 {
  font-size: 3rem;
  font-weight: 720;
  color:rgb(41, 41, 41);
}

h2 {
  margin-bottom: 2.4rem;
  font-size: 2.5rem;
  font-weight: 720;
  color:rgb(41, 41, 41);
}

h3 {
  font-size: 2rem;
  color: rgb(41, 41, 41)
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
  color: rgb(41, 41, 41);
}

p {
  color: rgb(41, 41, 41);
  line-height: 1.5rem;
}

.grey {
  color: grey;
}

.light-grey {
  color: lightgrey;
}

.blue {
  color: blue;
  font-weight: bold;
}

.mybold {
  font-weight: 720;
  margin-top: 2.4rem;
  margin-bottom: 3.2rem;
}

/* Header */
header .desktop{
  display: flex;
  height: 3.2rem;
  align-items: center;
  padding: 1.6rem 2.4rem;
}

header .desktop .ic-logo {
  width: 3.2rem;
  height: 3.2rem;
}

header .desktop h3 {
  flex-grow: 1;
  font-weight: bold;
}

header .desktop ul{
  display: flex;
}

header .desktop ul li {
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  header .desktop {
    display: none;
  }
  header .mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.4rem;
  }
  header .mobile .ic {
    width: 3.2rem;
    height: 3.2rem;
  }
}

/* Content */
.content {
  padding: 3.2rem 2.4rem;
}

.left {
  width: 60%;
  margin-right: 1.2rem;
}

.right {
  width: 40%;
  margin-left: 1.2rem;
}

/* Learn */
.learn .desktop {
  background-color: lightgrey;
  display: flex;
}

.learn .desktop .left img {
  max-width: 100%;
}

.learn .desktop .right {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.learn .desktop .right h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.learn .desktop #start-block {
  background-color: rgb(41, 41, 41);
  text-align: center;
  vertical-align: center;
}

.learn .desktop #start-block h4 {
  color: white;
}

.learn .mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .learn .desktop {
    display: none;
  }
  .learn .mobile {
    width: 100%;
    background-color: lightgrey;
    display: flex;
  }
  .learn .mobile .img {
    max-width: 100%;
  }
}


/* Practicing */
.practicing {
  width: auto;
  display: flex;
}

.practicing .left {
  display: flex;
  flex-direction: column;
}

.practicing .left img {
  max-width: 100%;
}

.practicing .left h2 {
  margin-top: 3.2rem;
}

.right-child {
  padding: 1.6rem 1.6rem;
}

.in-right-child {
  width: 100%;
  display: flex;
}

.in-left {
  width: 35%;
}

.in-left img {
  max-width: 100%;
  height: auto;
}

.in-right {
  padding-left:1.2rem;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#ourguest {
  background-color: lightgrey;
}

/* Start */
.start {
  background-color: lightgrey;
}

.start h2 {
  text-align: center;
}

#six-pictures {
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  width: auto;
  display: flex;
}

.start-child {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  display: flex;
  flex-direction: column;
}

.start-grandchild {
  margin-bottom: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.start-grandchild img {
  max-width: 100%;
  height: auto;
}

.text {
  height: 15rem;
  margin-left: 1.6rem;
}

.start-grandchild h4 {
  margin-top: 1.6rem;
  margin-bottom: 0.8rem;
}

.start-grandchild p {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

/* Thesis */
.thesis h2 {
  text-align: center;
}

.thesis-3media {
  width: auto;
  display: flex;
}

.thesis .left {
  display: flex;
  flex-direction: column;
}

.thesis .left video {
  max-width: 100%;
}

.thesis .left h4 {
  margin: 2.4rem 0 0.4rem 0;
}

.thesis .left p {
  margin-top: 0.4rem 0 0.4rem 0;
}

.fisma {
  background-color: lightgrey;
}

/* Footer */
footer {
  margin: 1.6rem 2.4rem;
  display: flex;
}

footer h6 {
  flex-grow: 1;
}

footer ul {
  display: flex;
}

footer ul li {
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}
